.header{
    height: 60px;
    display: flex;
    align-items: center;
    /* background-color:#E32636 ; */

    position: sticky;
   
    top:0;
    z-index: 100;
}
.head {
 /* width: 100px; */
 object-fit: contain;
 /* margin: 0 20px; */
 color:black;
 padding-top: 20px;
}

.bg-danger{
    background-color: red;
}
.bg-success{
    background-color: green;
    color: white;
    text-align: center;
}
.fds{
    display: flex;
    justify-content: space-between;
    max-width: 1450px;
    margin: auto;
}
.navbar{
    background-color: white;
    color: #031d51;
    cursor: pointer;
    /* padding-bottom: 20px; */
}
.mr{
    margin-left: 10px;
}
.fs{
    display: flex;
    margin-right: 40px;
}

.ln{
    width: 750px;
    height: 50px;
    
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    
}
.ms{
    
    height: 50px;
    width: 250px;
    background-color: #e87303;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    

}
.ml{
    height: 50px;
    width: 250px;
    background-color: #e87303;
    color: white;
    font-size: 20px;
    margin-top: 30px;
 
 
}
.fd{
    display: flex;
}
.input-group{
    background-color: #031d51;
    color: red;
    justify-content: center;
    height: 100px;
}
.sl{
    height: 50px;
    margin-left: 281px;
}
.fds>h1{
    /* padding-top: 17px; */
    padding-left: 60px;
    color: #031d51;
    font-family: 'BuenosAires-Regular',Arial,sans-serif;
    font-weight: 800;
    font-size: 35px;
}
.fds>a{
    /* padding-top: 17px; */
    color: #031d51;
    font-size: 20px;
    font-family: 'BuenosAires-Regular',Arial,sans-serif;
     padding-top: 10px;
    font-weight: 800;
}
a:hover{
    background-color: #e87303;
    text-align: center;
    border-radius: 35px;
    width: 200px;
    
}
.drop>a{
    color: #031d51;
    font-size: 20px;
    font-family: 'BuenosAires-Regular',Arial,sans-serif;
     /* padding-top: 10px; */
    font-weight: 800;
    margin-left: 30px;
}
.hh{
    padding-left: 30px;
    /* padding-top: 10px; */
}
.nav-item{
    margin-right: 30px;
}
.ts{
    width: 40px;
    justify-content: end;
    margin-left: 1000px;
    margin-top: -413px;
}

@media only screen and (max-width:1023px)
{
.fds{
    max-width: 1224px;
    margin: auto;
    display: flex;
    flex-direction: column;

}
.fds>h1{
    padding-right: 10px;
}
.fd{
    display: none;
}
.row {
    display: flex;
    flex-direction: column;
}
.navbar-toggler-icon{
    width: 20px;
}
.fl{
display: flex;
justify-content: space-around;
}
.icon{
    background-image:url(../public/menu.png);
    width:40px;
    height:30px;
    /* background-color: black;  */
}
.drop{
    display: flex;
    flex-direction: column;
    
    text-align: center;

}
.drop>a{
    
    color: #031d51;
    font-size: 20px;
    font-family: 'BuenosAires-Regular',Arial,sans-serif;
     padding-top: 10px;
    font-weight: 800;
    /* text-align: center; */
}
.car{
    margin-left: 70px;
}
.ts{
   
    /* width: 100px;
    margin-left:1400px; */
    width: 30px;
    margin: auto;
    margin-top: -407px;

}
}
